<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="form-group my-2">
    <label>Number of items:</label>
    <select class="form-select" [value]="itemCount || 1" 
            (change)="itemCount=$any($event).target.value">
        <option *ngFor="let item of Products(); let i = index" 
                [value]="i + 1" [selected]="(i + 1) === itemCount">
            {{i + 1}}
        </option>
    </select>
</div>
<table class="table table-sm table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *paFor="let item of Products() | slice:0:(itemCount ?? 1); 
                let i = index; let odd = odd;
                let even = even" [class.table-info]="odd" 
                [class.table-warning]="even"
                class="align-middle">
            <td>{{i + 1}}</td>
            <td>{{item.name | titlecase }}</td>
            <td>{{item.category | lowercase }}</td>
            <td>{{item.price | addTax:(taxRate || 0) | currency:"USD":"symbol":"2.2-2" }}
            <td class="text-center">
                <button class="btn btn-danger btn-sm" (click)="deleteProduct(item.id)">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>